<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner</title>
    <style> 
        body{ 
            background-color: rgb(171, 240, 254); 
        } 
            .selfhead
            { 
                font-size: 90px; 
                font-weight: bolder; 
                font-family: 'Baloo Chettan 2', cursive; 
            } 
            @media only screen and (max-width:485px){ 
                .selfhead{ 
                font-size: 50px; 
                font-weight: bold; 
            } 
            } 
        </style> 
</head>
<body>
    <div class="container" id="Contact-us"> 
		<div class="selfhead text-center py-0 "> 
			URL shortener 
		</div> 
	</div> 
</body>
</html>