<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wikipedia Example</title>
</head>
<body>
    <h1>Submit Your Information</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" id="search" name="search" required><br><br>
        <input type="submit" value="Search">
    </form>
    {% if result %}
        {{result}}
    {% endif %}
</body>
</html></html>